.wpapper_feedback {
    grid-column-start: 1;
    grid-column-end: 3;
}

.feedback {
    margin: 0 auto;
    max-width: 900px;
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    padding: 20px 0;
}

.feedback-group {
    margin: 20px auto;
    max-width: 445px;
    padding: 0 5px;
}

.feedback-label span {
    font-weight: bold;
    color: #615b55;
    margin-bottom: 7px;
    width: 20%;
    margin-left: 5px;
    display: inline-block;
}

.feedback-input {
    padding: 7px 0 6px 32px;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 78%;
    display: inline-block;
}

.feedback-input:focus {
    border: 1px solid red;
}

.err:focus {
    outline:none
}

.feedback-label {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.feedback-label i {
    position: absolute;
    opacity: 0.5;
    font-size: 16px;
    left: 24%;
    top: 20%;
}

.feedback-textarea {
    width: 100%;
    min-height: 100px;
    padding-left: 30px;
    padding-top: 7px;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    resize: vertical;
    box-sizing: border-box;
}

.feedback-textarea:focus {
    border: 1px solid grey;
}

.feedback-button {
    display: block;
    padding: 7px 0;
    width: 150px;
    margin: 10px auto;
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(150, 157, 165, 1) 0, rgba(109, 117, 124, 1) 36%, rgba(40, 52, 59, 1) 100%);
    border: 1px solid grey;
    color: white;
}

.feedback .feedback-label .fa-pen-alt {
    left: 10px;
    top: 26px;
}

.feedback-select {
    padding: 7px 0 6px 32px;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    width: 78%;
    display: inline-block;
}

.err {
    border: 1px solid red;
}

.err-message {
    color: red;
    display: inline;
    padding-left: 50%;
}

.invisible{
    display: none;
}

.visible{
    display: inline;
}

.center{
    text-align: center;
}

@media (max-width: 768px) {
    .wrapper_contacts {
        grid-template-columns: 1fr;
        padding-left: 10px;
    }
    .wpapper_feedback {
        grid-column-start: auto;
        grid-column-end: auto;
    }
}

@media (max-width: 544px) {
    .feedback-label i {
        top: 54%;
        left: 3%;
    }
    

    .feedback-input{
        width: 80%;
    }
    .map_desktop {
        display: none;
    }
    .map_mob {
        display: contents;
    }
}